form {
	font-size: 15px;
	color: #000;
}

button {
	border-width: medium;
	background-color: black;
	width: 70px;
	color: #fff;
}

div {
	font-size: 15px;
	border-width: 25px;
	border-color: #000;
}

#value1 {
	border-color: rgb(241, 7, 46);
	border-radius: 7px;
	padding: 0;
	width: 100px;
}

form {
	color: green;
}

#value2 {
	border-color: rgba(241, 7, 46);
	border-radius: 7px;
	padding: 0;
	width: 100px;
}

option[value="add"] {
	color: red;
}

#operator {
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

::placeholder {
	color: red;
	background-color: black;
}