form {
	font-size: 15px;
	color: #000;
}

button {
	border-width: medium;
	color: #000;
}

div {
	font-size: 15px;
	border-width: 25px;
	border-color: #000;
}

#value1 {
	border-color: rgb(241, 7, 46);
	border-radius: 7px;
	width: 100px;
}

form {
	color: green;
}

#value2 {
	border-color: rgba(241, 7, 46);
	border-radius: 7px;
	width: 100px;
}

option[value="add"] {
	color: red;
}